<div class="container">
  <form [formGroup]="searchForm">
    <mat-form-field appearance="fill">
      <mat-label>Breed</mat-label>
      <mat-select formControlName="breed" (selectionChange)="onSearch()">
        <mat-option *ngFor="let breed of breeds" [value]="breed.id">{{ breed.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" style="margin-right: 10px" (click)="resetFilter()">Reset Filter</button>
  </form>
  <div class="loading" *ngIf="loading">Loading...</div>
  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  <div class="cat-images">
    <div *ngFor="let cat of cats" class="cat-image">
      <mat-card>
        <img [src]="cat.url" alt="Cat Image" mat-card-image />
      </mat-card>
    </div>
  </div>
</div>
